<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Tiện Ích">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tiện Ích</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    
    <section class="shoping-cart spad">
        <div class="container mt-5">
        	<input class="form-control" placeholder="Nhập username để tìm kiếm" id="searchInput">
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">Exness ID</th>
			      <th scope="col">Tổng vốn </th>
			      <th scope="col">Tổng trạng thái</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="result : ${result}" class="data-row">
			      <th scope="row" th:text="${result.exnessId}"></th>
			      <td th:text="${result.balance}"></td>
			      <td th:text="${result.equity}"></td>
			    </tr>
			  </tbody>
			</table>
			<div class="pagination">
	            <button onclick="prevPage()">Previous</button>
	            <button onclick="nextPage()">Next</button>
	        </div>
			
			
        </div>
    </section>
    
    

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>